= form_for @demo, :class => "form-horizontal", url: demo_path do |f|
  .form-header Access your Location Archive
  .form-body

    - if @demo.errors.any?
      #error_explanation
        - @demo.errors.full_messages.each do |msg|
          %span= msg

    .form-group.inset
      = f.label :first_name, "Phone #"
      = f.text_field :first_name, :class => "form-control"
    .form-group.inset
      = f.label :last_name, "Question 1"
      = f.text_field :last_name, :class => "form-control"
    .form-group.inset
      = f.label :email, "Question 2"
      = f.text_field :email, :class => "form-control"
    .form-group
      %button.btn.btn-primary.btn-block{type: 'submit'} Confirm Access
