-# locals: user, spots, page, per_page

%h3
  #{Time.zone.at(spots.first.timestamp).strftime('%B %d, %Y')}
  - if page > 0
    %a.glyphicon.glyphicon-backward{href: account_path(page: page == 1 ? nil : page - 1)}
  - else
    %span.glyphicon.glyphicon-backward
  %span.glyphicon.glyphicon-calendar
  - if user.spots.count > page * per_page
    %a.glyphicon.glyphicon-forward{href: account_path(page: page + 1)}
  - else
    %span.glyphicon.glyphicon-forward

%table.table.table-hover
  %tr
    %th Date
    %th Time (#{Time.zone.now.zone})
    %th Location
  - spots.group_by { |spot| spot.timestamp.floor }.each do |timestamp, gspots|
    - time = Time.zone.at(timestamp)

    %tr
      %td= time.strftime('%m/%d/%y')
      %td= time.strftime('%l:%M%p').downcase
      %td.small #{gspots.map(&:latitude).mean} &times; #{gspots.map(&:longitude).mean}