-# locals: user, spots, page, date

%h3
  #{date.strftime('%B %d, %Y')}
  - if date < Date.today
    %a.glyphicon.glyphicon-backward{href: account_date_path(date: date.advance(days: 1))}
  - else
    %span.glyphicon.glyphicon-backward
  %span.glyphicon.glyphicon-calendar
  - if user.spots.where("created_at < ?", date).exists?
    %a.glyphicon.glyphicon-forward{href: account_date_path(date: date.advance(days: -1))}
  - else
    %span.glyphicon.glyphicon-forward

%table.table.table-hover
  %tr
    %th Date
    %th Time (#{Time.zone.now.zone})
    %th Location
  - spots.group_by { |spot| spot.timestamp.floor - ( spot.timestamp.floor % 1800 ) }.each do |timestamp, gspots|
    - time = Time.zone.at(timestamp)

    %tr
      %td= time.strftime('%m/%d/%y')
      %td= time.strftime('%l:%M%p').downcase
      %td.small #{gspots.map(&:latitude).mean} &times; #{gspots.map(&:longitude).mean}