-# locals: spots

%h3
  #{Time.zone.now.strftime('%B %d, %Y')}
  %span.glyphicon.glyphicon-backward
  %span.glyphicon.glyphicon-calendar
  %span.glyphicon.glyphicon-forward
%table.table.table-hover
  %tr
    %th Date
    %th Time (#{Time.now.zone})
    %th Location
  - spots.each do |spot|
    - time = Time.zone.at(spot.timestamp)

    %tr
      %td= time.strftime('%m/%d/%y')
      %td= time.strftime('%l:%M%p').downcase
      %td.small #{spot.latitude} &times; #{spot.longitude}